<h1>DLQ Console</h1>
<p class="sub">
  The list below contains all messages currently visible in SQS DLQ queues.
</p>
<p id="alert"><%=h flash_message.message %></p>
<p class="sub">
  <%= "Showing #{@messages.count} visible messages." %>
</p>
<form method="post">
  <%= csrf_token_tag %>
  <input type="submit" value="Bulk Remove" formaction="<%= u("bulk_remove") %>"/>
  <input type="submit" value="Bulk Move to Source Queue" formaction="<%= u("bulk_requeue") %>"/>
  <ul class="job">
    <% @messages.each do |message| %>
      <%= partial :message, {:message => message[:message], :queue => message[:queue]} %>
    <% end %>
  </ul>
</form>